#mobile{
    width: 298px;
    height: 500px;
    background: rgb(241, 241, 241);
    border-radius: 30px;
    box-shadow: 2px 2px 5px 5px #e0e0e0;
}

#mobailScreen{
    width: 280px;
    height: 425px;
    border: none;
    background: #8a8787;
}
#mobileButton{
    height: 25px;
    width: 88px;
    border-radius: 100px;
    border: 3px solid #ffffff;
    background: #d0d0d0;
}

#navTop{
    border-bottom: 1px solid rgb(238, 238, 238);
}

#chatfield{
    background: white;
    width: 280px;
    margin:  auto;
    border-radius: 0;
    border: none;
}

input[type=text]{
    border-radius: 100px;
}
#showChat{
    border-radius: 0;
    border: none;
    height: 321px;
}
    

#send{
    border-radius: 100px;
}

/* second */

#mobile2{
    width: 298px;
    height: 500px;
    background: rgb(241, 241, 241);
    border-radius: 30px;
    box-shadow: 2px 2px 5px 5px #e0e0e0;
}

#mobailScreen2{
    width: 280px;
    height: 425px;
    border: none;
    background: #8a8787;
}
#mobileButton2{
    height: 25px;
    width: 88px;
    border-radius: 100px;
    border: 3px solid #ffffff;
    background: #d0d0d0;
}

#navTop2{
    border-bottom: 1px solid rgb(238, 238, 238);
}

#frontImg img{
    height: 60px;
    width: 60px;
    border-radius: 100%; 
    border: 2px solid rgb(178, 210, 238);
}

#profileImg img, #profileImg2 img {
    height: 40px;
    width: 40px;
    border-radius: 100%; 
    border: 2px solid rgb(178, 210, 238);
}

#chatfield2{
    background: white;
    width: 280px;
    margin:  auto;
    border-radius: 0;
    border: none;
}

#showChat2{
    border-radius: 0;
    border: none;
    height: 321px;
}
    

#send2{
    border-radius: 100px;
   
}
