#chatfield{
    background: white;
    width: 300px;
    margin: 50px auto;
    border-radius: 0;
}

input[type=text]{
    border-radius: 100px;
}
#showChat{
    border-radius: 0;
    border: none;
    height: 300px;
}
    

#send{
    border-radius: 0;
    border-left: none;
}

#frontImg img{
    height: 60px;
    width: 60px;
    border-radius: 100%; 
    border: 2px solid rgb(178, 210, 238);
}

#profileImg img{
    height: 50px;
    width: 50px;
    border-radius: 100%; 
    border: 2px solid rgb(178, 210, 238);
}

#chatfield2{
    background: white;
    width: 300px;
    margin: 50px auto;
    border-radius: 0;
}

#showChat2{
    border-radius: 0;
    border: none;
    height: 300px;
}
    

#send2{
    border-radius: 0;
   
}
